
*.exe
*.dll
*.pdb
*.class


*.suo
*.user
*.sln.cache
*.vscode
.idea/


*.tmp
*.log
Thumbs.db
desktop.ini
Logs/

web.config
connectionStrings.config

secrets.json
*.pem
*.pfx


packages/
node_modules/

/bin/
/obj/
.fake